# ── Django ──────────────────────────────────
SECRET_KEY=beautymap-secret-key-windows-dev-2025
DEBUG=False
ALLOWED_HOSTS=*

# ── Base de données MySQL ────────────────────
DB_NAME=beautymap_db
DB_USER=root
DB_PASSWORD=root
DB_HOST=localhost
DB_PORT=3306

# ── Africa's Talking SMS ─────────────────────
AT_USERNAME=Gabriela-LIZA
AT_API_KEY=atsk_2fab46c667d88c38739ccb36e0a4bb3c23b7dda6f5653597075522958c584989564ef1ad
AT_SENDER=BeautyMap

# ── Twilio (désactivé pour l'instant) ────────
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_FROM=+14155238886

# ── Email ────────────────────────────────────
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=lizagabriela80@gmail.com
EMAIL_HOST_PASSWORD=piut nfam oriv axaf

# ── Redis (pas nécessaire en dev Windows) ────
REDIS_URL=redis://localhost:6379

# ── CORS ─────────────────────────────────────
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000